.bg-dark{
    background: #000 !important;
}
.nav-icon i{
font-size: 30px;
padding: 3px;
transition: 1s;
color: #000;
border-radius: 10px;
border: 1px solid #000;
margin-left: 3px;
}
.nav-icon i:hover{
    color: #42B32F;
    background: #000;
    box-shadow: #42B32F;
    border: 1px solid #42B32F;
}